* {
    margin: 0;
    padding: 0;
}

html, body {
    color: #000;
    background: rgba(240, 240, 240, 0.1);
}

body {
    font-size: 12px;
    font-family: 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

ul {
    list-style: none;
}

a:link, a:visited {
    color: #404040;
    text-decoration: none;
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
    height: 0;
}

.container {
    padding: 0 10px;
}

.header .top {
    display: flex;
    height: 22px;
    line-height: 22px;
}

.top .title, .top .login {
    width: 50%;
    justify-content: space-between;
}

.top .title {
    color: #666;
}

.top .login {
    text-align: right;
    color: #5b5b5b;
}

.top .login #smlogo {
    width: 20px;
    height: 20px;
    position: relative;
    top: -1px;
    left: 0px;
    border-radius: 50%;
    background: #fff;
    vertical-align: middle;
    margin: 0 10px 0 5px;
}

.login a:link, .login a:visited {
    color: #369;
}

.login a:hover {
    color: #e62e2e;
}

.header .logo {
    display: flex;
    border: 1px solid #d8dfea;
    border-radius: 3px;
    height: 70px;
    line-height: 70px;
}

.logo .logo_img, .logo .ads {
    justify-content: space-between;
    width: 50%;
}

.logo img {
    width: 142px;
    height: 55px;
    border: 0;
    vertical-align: middle;
}

.ads a {
    display: inline-block;
    width: 300px;
    position: absolute;
    transition: all 1s ease-out;
    transform-origin: center center;
    z-index: 0;
    opacity: 0;
}

.ads a.active {
    transform: rotateX(360deg);
    z-index: 100;
    opacity: 1;
}

.ads img {
    width: 100%;
    height: 70px;
}

.header .nav {
    background-color: #2b6695;
    margin: 5px 0 0 0;
    height: 30px;
    line-height: 30px;
    box-shadow: -3px 1px 3px rgba(0, 0, 0, .25);
    font-size: 14px;
}

.header .nav a {
    padding-left: 24px;
}

.header .nav a:link, .nav a:visited {
    color: #fff;
}

.header .nav a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    margin: 10px 0 0 0;
}

.main .left, .main .mid, .main .right {
    justify-content: space-between;
}

.main .left {
    width: 160px;
    background: #fff;
}

.left .menu {
    border: 1px solid #156eb4;
    border-left-width: 4px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-color: #83abc6;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.menu .title {
    height: 30px;
    line-height: 30px;
    background: #eff5fc;
    border-top-left-radius: 5px;
    font-size: 14px;
    font-weight: 900;
}

.menu .title img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.firstTitle>li {
    height: 27px;
    line-height: 27px;
    border-bottom: 1px dotted #83abc6;
    border-top: 1px solid transparent;
    position: relative;
}

.firstTitle>li:nth-of-type(1) {
    border-top: 1px solid #83abc6;
}

.firstTitle>li>a {
    display: block;
    padding: 0 0 0 10px;
}

.firstTitle>li>a img {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 6px;
    left: 130px;
    z-index: 999;
}

.firstTitle>li:hover {
    border-top: 1px solid #83abc6;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fff;
}

.firstTitle>li .box {
    display: none;
    position: absolute;
    top: -1px;
    left: 140px;
    width: 160px;
    border: 1px solid #83abc6;
    border-left: none;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    box-shadow: 2px 3px 5px #83abc6;
    background: #fff;
    z-index: 1000;
}

.firstTitle>li:hover .box {
    display: block;
}

.firstTitle>li:hover>a img {
    display: none;
}

.secondTitle li {
    background-image: url('../images/arrow_right.png');
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: 5px 6px;
    padding-left: 30px;
}

.secondTitle li a:hover {
    color: #ff7ea5;
}

.left .links, .left .recommands, .left .rank, .left .statistics {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0 0 0;
}

.left .links h4, .left .recommands h4, .left .rank h4, .left .statistics h4 {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 900;
    padding: 5px;
}

.left .links li, .left .recommands li, .left .rank li, .left .statistics li {
    height: 20px;
    line-height: 20px;
    padding: 0 0 0 15px;
}

.rank .num {
    color: #777;
    font-size: 11px;
    margin: 0 2px 0 0;
}

.main .mid {
    width: calc(100% - 160px - 300px);
    padding: 0 15px;
}

.mid .nav {
    border-bottom: 1px solid #c8d3de;
}

.mid .nav ul li {
    float: left;
    margin: 0 0 0 5px;
    font-size: 14px;
}

.mid .nav ul li a {
    padding: 0 10px;
    border: 1px solid #c8d3de;
    color: #333;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 0 -1px 0;
    background-color: #e8edf0;
}

.mid .nav ul li a.active {
    border-bottom-color: #fff;
    background-color: #fff;
}

.mid .headline a:link, .mid .headline a:active, .mid .headline a:visited {
    color: #005a94;
}

.headline li {
    padding: 5px 0;
}

.headline li a {
    margin: 0 5px 0 0;
}

.headline li:nth-of-type(1) a {
    font-size: 14px;
    font-weight: 900;
    margin: 0 5px 0 -6px;
}

.postlist .post_item {
    display: flex;
    border-bottom: 1px dotted #ccc;
    padding: 10px 0;
}

.post_item .digg, .post_item .post_item_body {
    justify-content: space-between;
}

.post_item a:link, .post_item a:visited {
    color: #015fb6;
}

.post_item .digg {
    width: 60px;
    padding: 0 10px 0 0;
}

.digg .recommand {
    cursor: pointer;
}

.recommand span {
    display: inline-block;
    width: 60px;
    color: #105cb6;
}

.recommand .recommand_num {
    display: block;
    font-size: 14px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #fff7dc;
    border: 1px solid #f5e5a9;
    border-radius: 3px;
    color: #333;
}

.recommand .recomm {
    display: block;
    background: #f1f8fa;
    text-align: center;
    border: 1px solid #ccc;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    margin: 1px 0 2px 0;
    height: 25px;
    line-height: 25px;
    font-weight: 600;
}

.recommand .recomm img {
    width: 14px;
    vertical-align: middle;
    margin: 0 3px 0 0;
}

.digg .recommand_tip {
    color: red;
    display: none;
    text-align: center;
}

.digg .recommand_tip.show {
    display: block;
}

.digg .recommand_tip a:hover {
    color: #ff7ea5;
}

.post_item_body .titlelnk {
    text-decoration: underline;
}

.post_item_body .post_item_summary {
    margin: 10px 0;
    line-height: 1.8em;
    width: calc(100% - 60px);
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.post_item_summary a {
    float: left;
}

.post_item_summary a img {
    width: 48px;
    height: 48px;
    border: 1px solid #ccc;
    margin: 0 5px 0 0;
}

.post_item_foot {
    white-space: nowrap;
}

.post_item_foot img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.my_comment {
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.my_comment .c_user_logo {
    height: 50px;
    width: calc(100% - 40px);
    padding-bottom: 10px;
    margin: 10px 20px 0 20px;
}

.my_comment .c_user, .my_comment .c_logo {
    float: left;
}

.my_comment .c_user .c_nickname, .my_comment .c_user .c_post_time {
    height: 25px;
}

.my_comment .c_logo img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.my_comment .c_content {
    padding: 10px 20px;
    background: #eeeee0;
    border-top: 1px solid #ccc;
}

.my_comment .c_content .c_title {
    height: 24px;
    line-height: 24px;
}

.my_comment .c_content .c_comment span, .my_comment .c_info .c_comment_time span, .my_comment .c_content .c_title span {
    font-weight: bold;
}

.my_comment .c_content .c_comment {
    line-height: 1.8em;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.my_comment .c_info .c_comment_time {
    float: left;
}

.my_comment .c_info .c_good_bad {
    float: right;
}

.paging_block .pager {
    font-size: 12px;
    margin: 25px 0;
    text-align: center;
    color: #2e6ab1;
    line-height: 200%;
    overflow: hidden;
}

.pager a {
    border: 1px solid #9aafe5;
    color: #2e6ab1;
    margin: 0 2px;
    padding: 2px 5px;
    text-decoration: none;
}

.pager a.current {
    background-color: #2e6ab1;
    border: 1px solid navy;
    color: #fff;
    font-weight: bold;
    margin: 0 2px;
    padding: 2px 5px;
}

.main .right {
    width: 300px;
    background-color: #eeeeef;
}

.right .item {
    border: 1px solid #ccc;
    margin: 20px 0 0 0;
}

.right .item:nth-of-type(1) {
    margin: 0;
}

.right .item h4 {
    display: flex;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.right .item h4 a {
    justify-content: space-between;
}

.right .item h4 a {
    width: 50%;
}

.right .item h4 a:link, .right .item h4 a:visited {
    color: #e47911;
}

.right .item h4 a:nth-last-of-type(1) {
    text-align: right;
    padding-right: 10px;
}

.right .item li {
    height: 20px;
    line-height: 20px;
}

.footer {
    box-sizing: border-box;
    width: calc(100% - 460px);
    margin: 20px 0 0 160px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    line-height: 1.8em;
}

.footer a {
    margin-right: 8px;
}

.footer a:hover {
    color: red;
}

#footer_bottom {
    text-align: center;
}

#footer_bottom div {
    margin: 10px 0;
}

#footer_bottom div a {
    margin-right: 8px;
}

#footer_bottom div a:link, #footer_bottom div a:visited {
    color: #369;
    text-decoration: underline;
}

#footer_bottom div:nth-last-of-type(1) a:link, #footer_bottom div:nth-last-of-type(1) a:visited {
    text-decoration: none;
}

#footer_bottom .cnnic_img {
    width: 64px;
    height: 23px;
    vertical-align: middle;
}

#footer_bottom .ghs {
    vertical-align: middle;
}

.right {
    background: #fff !important;
    position: fixed;
    right: 10px;
    top: 140px
}

.showSideBar {
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 6px 0 0;
    background: rgb(102, 153, 219);
    padding: 10px 2px;
    width: 32px;
    height: 100px;
    position: absolute;
    top: 300px;
    right: 0;
    font-size: 12px;
    color: #000;
    cursor: pointer;
    z-index: 100;
    /* display:none; */
}

.showSideBar p {
    color: #fff;
}

.showSideBar p:nth-of-type(1) {
    float: left;
    width: 10px;
    height: 100px;
    line-height: 100px;
}

.showSideBar p:nth-of-type(2) {
    text-align: right;
    float: left;
    width: 20px;
    height: 100px;
}

.sideBar {
    height: 400px;
    /* background: rgba(233, 233, 233, 0.5); */
    text-align: left;
    line-height: 30px;
    font-size: 14px;
    position: absolute;
    top: 150px;
    transform: translateX(400px);
    transition: all 0.5s;
    overflow: hidden;
    width: 0px;
}

.sideBar.show {
    width: 400px;
    transform: rotate(360deg)
}

.sideBar ul {
    position: absolute;
    left: 60px;
    top: calc(50% - 120px)
}

.sideBar ul li {
    position: relative;
}

.sideBar ul li input {
    position: absolute;
    top: 0;
    left: 0px;
    width: calc(100% - 40px);
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background: rgb(100, 50, 100);
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    display: none;
}

.sideBar ul li i {
    position: absolute;
    top: 0;
    right: -30px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 0 50% 50% 0;
    background: #000;
    border-left: 1px solid #ccc;
    color: #ccc;
    cursor: pointer;
    font-style: normal;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    display: none;
}

.sideBar a {
    color: #fff;
}

.sideBar .access {
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    text-align: center;
    background: rgb(100, 50, 100);
    color: #fff;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.sideBar span:after {
    display: block;
    content: "";
    position: absolute;
    border-radius: 10px;
    top: var(--x);
    left: var(--y);
    transform: translate(-30%, -40%);
    transition: all 0.3s ease-out;
    border-radius: 50%;
    background: radial-gradient(circle closest-side, rgba(0, 0, 0, 0.8), rgba(200, 100, 100, 0.5));
}

.sideBar span:hover:after {
    width: 400px;
    height: 400px;
}

.sideBar .close {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    background: #fff;
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    border-radius: 50%;
    text-align: center;
}