.container, body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background: url(../images/login_bg4.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

.header-bg {
    background: rgba(0, 150, 200, 0.5);
    box-shadow: rgba(0, 150, 200, 0.5) 5px 5px 20px;
}

.header {
    height: 50px;
    line-height: 50px;
    color: #eee;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 36px;
    font-family: 楷体;
}

.header .options {
    font-size: 12px;
}

.header .options a {
    color: rgb(0, 255, 255);
    text-decoration: none;
}

.header .options i:after {
    margin: 0 10px;
    content: "|";
    font-size: 16px;
    font-style: normal;
    color: rgb(255, 255, 255, 0.3);
    width: 1px;
}

.header .options a:hover {
    color: darkred;
}

.main {
    display: flex;
    justify-content: center;
    color: #333;
    margin: 150px 0 0 0;
}

.info {
    background: rgba(255, 255, 255, 0.7);
    width: 500px;
    border: 1px solid #ccc;
    box-shadow: #ccc 4px 5px 5px;
    border-radius: 5px;
    padding: 30px;
    margin-right: 10px;
    text-align: center;
}

.info .group {
    position: relative;
}

.info .group .em {
    font-style: normal;
    position: absolute;
    right: -30px;
    top: -5px;
    font-size: 8px;
    color: red;
    display: inline-block;
    width: 85px;
}

.info .group .typing {
    font-style: normal;
    position: absolute;
    right: -30px;
    top: -5px;
    font-size: 8px;
    color: gray;
    display: inline-block;
    width: 85px;
}

.info .group label {
    width: 60px;
    text-align: justify;
    display: inline-block;
    font-size: 14px;
}

.info .group label span {
    width: 100%;
    display: inline-block;
}

.info .group.remember {
    height: 45px;
    text-align: initial;
    padding: 0 0 0 130px;
}

.info .group input:not([name="remember"]) {
    position: relative;
    top: -20px;
    left: 10px;
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 5px;
}

.info .btn {
    text-align: center;
    margin-top: 10px;
}

.info .btn a {
    background: rgb(57, 197, 250);
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
}

.sideImg {
    width: 200px;
    margin-top: 60px;
    position: relative;
}

.sideImg img {
    width: 100%;
}

#imgCode {
    position: relative;
    display: inline-block;
}

.captcha {
    text-align: initial !important;
    margin-left: 62px;
}

#captcha {
    width: 200px;
}

svg {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 43px;
    right: -10px;
    z-index: 100;
    cursor: pointer;
}